.couleur1 {
    color: black;
    background-color: red;
    margin-bottom: 10px;
}
.couleur2 {

    color: black;
    background-color: blue;
    margin-bottom: 10px;
}
.couleur3 {
    color: black;
    background-color: yellow;
}